<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>

  <log4net>
    <!--  log4net uses the concept of 'appenders' to indicate where log messages are written to.
          Appenders can be files, the console, databases, SMTP and much more
    -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Deploy.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value="yyyyMMdd"/>
      <maxSizeRollBackups value="10"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] - %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>

  <appSettings>
    <add key="PRE_File" value="D:\Data\Sync\ForServer\FHV\SM9\S1\tools\CopyServer.ps1"/>
    <add key="POST_File" value="post.ps1"/>
    <add key="tcpPort" value="2340"/>
    <add key="IP" value="10.0.0.5"/>
    <add key="Set-ExecutionPolicy" value="" />
  </appSettings>

</configuration>
